[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Rr]ecordings/
Assets/Spine
Assets/Spine Examples
Assets/Art/2DGameKit
Assets/Art/2DGameKit.meta
Assets/Art/FantaziaCharacterEditor
Assets/Art/FantaziaCharacterEditor.meta
Assets/AssetStoreTools*

# User-specific
UserSettings/
.vs/
*.csproj
*.sln
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db