[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Rr]ecordings/
Assets/Art/2DGameKit
Assets/Art/2DGameKit.meta
Assets/Art/FantaziaCharacterEditor
Assets/Art/FantaziaCharacterEditor.meta
Assets/AssetStoreTools*

# User-specific
UserSettings/
.vs/
*.csproj
*.sln
*.user
*.userprefs

# Spine Runtime (직접 설치 필요)
Assets/spine-csharp/
Assets/spine-unity/
Assets/Spine/
Assets/Spine Examples/

# OS
.DS_Store
Thumbs.db